.filters{
    @extend %flex; 
    padding: 30px 0;
}

.filter{
    margin: 8px 0;
    width: 250px;
    @extend %flex;
    &__heading{
        padding: 15px 0;
        font-weight: 700;
    }
    &__price{
        margin: 0;
        & input{
            padding: 0 10px;
        }
    }
    &__price-label{
        margin-top: 15px;
    }
    &__company{
        display: flex;
        justify-content: space-between;
    }
    &__label{
        max-width: 165px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}