.tickets{
    @extend %flex;
    width: 640px;
    align-items: center;
    &__button{
        width: 250px;
        height: 30px;
        margin-top: 20px;
        font-weight: 500;
        border: 2px solid $text-color;
        font-size: 17px;
        letter-spacing: 1px;
        transition: 0.1s ease-in-out;
        @extend %btn;
        &:active{
            transform: scale(0.99);
        }
    }
}
.ticket{
    background-color: $bg-color;
    border-radius: 3px;
    @extend %flex;
    margin-top: 30px;
    width: 100%;
    padding: 2px;
    position: relative;
    &__empty{
        width: 640px;
        text-align: center;
        align-self: center;
        @extend %danger;
    }
    &__message{
        position: absolute;
        top:50%;
        left:0;
        font-weight: 800;
        font-size: 25px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        @extend %danger;
    }
    &__main-info{
        min-height: 40px;
        background-color: transparent;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 90px;
        height: 25px;
        position: relative;
        & img{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            object-fit: fill;
        }
    }
    &__price-info{
        text-align: right;
        color: $main-color;
    }
    &__price-main{
        font-size: 20px;
    }
    &__price-additional{
        font-size: 12px;
    }
    &__additional{
        &-info{
        background-color: $main-color;
        margin-top: 3px;
        border-radius: 3px;
        padding: 0 10px;
        }
        &-path,&-travel-time{
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
        }
        &-departure-alias, &-arrival-alias{
            color: $bg-color;
        }
        &-travel-time{
            display: flex;
            justify-content: space-between;
            & span{
                color: $bg-color;
                font-size: 16px;
                font-weight: 400;
            }
        }
        &-transfers{
            color: $btn-color;;
            width: 550px;
            height: 1px;
            text-align: center;
            background-color: $text-color;
            align-self: center;
            margin: 0 auto;
            margin-top: 6px;
            & span{
                background-color: $main-color;
                position: relative;
                font-size: 16px;
                font-weight: 400;
                top:-12px;
                padding: 0 10px;
            }
        }
        &-company{
            font-size: 16px;
            padding: 22px 10px 10px;
        }
}
    &__button{
        min-height: 40px;
        background-color: $btn-color;
        font-weight: 500;
        color: $main-color;
        text-transform: uppercase;
        font-size: 15px;
        border: none;
        transition: 0.1s ease-in-out;
        @extend %btn;
        &:active{
            transform:translateY(2px);
        }
    }
}